<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p align="center"><big>
        This is Balavikas Sabbineni. right now doing django course.<br>
        my goal is to get a job as python/django develoepr
        </big>
    </p>
    <h1>{{name}}    {{location}}</h1>
    <h2>{{namee}}</h2>
    <h3>{{x}}</h3>
</body>
</html>